<img src="../images/register-for-free-button.gif" alt="Register" style="width:435px;height:138px;">
<hr>
Username:<input  ng-model="user.username" class="form-control" placeholder="username"/><br>
Password:<input  ng-model="user.password" class="form-control" placeholder="password" type="password"/><br>
Email:<input  ng-model="user.email" class="form-control" placeholder="email" type="email"/><br>
First Name:<input  ng-model="user.firstName" class="form-control" placeholder="firstName" type="text"/><br>
Last Name:<input  ng-model="user.lastName" class="form-control" placeholder="lastName" type="text"/><br>
Phone Number:<input  ng-model="user.phone" class="form-control" placeholder="(111) 111-1111" type="text"/><br>

<button ng-click="controller.register(user)" class="btn btn-primary btn-block">Register</button>
<hr>
