<h2>Search Equipment</h2>
<img src="../images/Search5.jpeg" alt="Search5" style="width:529px;height:278px;">
<hr>

<ul class="nav nav-tabs">
	<li><a href="#equipmentSearch">Search Equipment</a></li>
	<li><a data-toggle="tab" href="#labelEquipment">By Equipment Name</a></li>
	<li><a data-toggle="tab" href="#createdEquipment">By Date Posted</a></li>
	<li><a data-toggle="tab" href="#createdByEquipment">By Equipment Poster</a></li>
	<li><a data-toggle="tab" href="#priceEquipment">By Price</a></li>
	<li class="active"><a data-toggle="tab" href="#categoryEquipment">By Category</a></li>
	<li><a data-toggle="tab" href="#companyEquipment">By Company</a></li>
</ul>

<div id="categoryEquipment" class="tab-pane fade in active">
	<table class="table">
		Search by equipment category: [Rakes, Pruning Tools, Digging Tools, Striking Tools, and Transport Tools] <input ng-model="search.category" type="text">
		<tr ng-repeat="page in model.pages | filter:search">
			<td>
				<a href="#/page/{{page._id}}/details">
					Equipment Name: {{page.label}}<br>Dated Created: {{page.created}}<br>
					Created By: {{page.createdBy}}<br>Equipment Price: {{page.price}}<br>
					Equipment Category: {{page.category}}<br>Equipment Company {{page.company}}
				</a>
			</td>
		</tr>
	</table>
</div>
<hr>
