<h1>Garden Equipment Market Home</h1>
<img src="../images/green.jpg" alt="Mountain View" style="width:529px;height:278px;">

<h3>
    Welcome to Garden Equipment Market (GEM)!
</h3>

<p>
	We are an up-and-comer in the world of garden equipment.<br>
	Here are some of the features that make GEM a gem.
</p>

<ul>
	<li>Ability to buy and sell garden equipment from your home!</li>
	<li>Free garden equipment listing and purchasing!</li>
	<li>Search over 100 different garden equipments from five categories!</li>
	<li>Make an account now!</li>
	<br/>
	
</ul>
<span ng-hide="currentUser">
<a href="#/register">Register now to make your completely free account!</a>
</span>


<p>
	Here is the Google Docs link to my Documentation:<br>
	https://docs.google.com/document/d/1gXMboin_0rNNbbUWRgs_zPBtk-PZvyEPqYtxD1SUCvQ/edit?usp=sharing
	Here is the link to the original project proposal: (this link is also in the above link)<br>
	https://drive.google.com/file/d/0B6ZrAt-oXf_zSW5IRFlzWVdlNms/view?usp=sharing
</p>