<h1>Equipment</h1>

{{equipment}}

<table class="table table-striped">
    <thead>
        <tr>
            <th>name</th>
            <th>datePosted</th>
            <th>price</th>
			 <th>category</th>
			 <th>company</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="equipment in equipment">
            <td>{{equipment.name}}</td>
            <td>{{equipment.datePosted | date}}</td>
            <td>{{equipment.price}}</td>
			 <td>{{equipment.category}}</td>
			 <td>{{equipment.company}}</td>
            <td>
                <button ng-click="removeCourse($index)" class="btn btn-danger">
                    Remove
                </button>
                <a href="#/courseEdit/{{$index}}" class="btn btn-primary">Edit</a>
            </td>
        </tr>
    </tbody>
</table>
