<h1>Profile</h1>
<img src="../images/ProfilePicture.png" alt="Profile" style="width:185px;height:168px;">
<hr>
<h2>{{currentUser.username}}'s Profile Page</h2>

<table class="table table-bordered">
	<tr>
		<th>Username:</th>
		<th>Password:</th>
		<th>First Name:</th>
		<th>Last Name:</th>
		<th>Email:</th>
		<th>Roles:</th>
	</tr>
    <tr>
		<td>{{currentUser.username}}</td>
		<td>{{currentUser.password}}</td>
		<td>{{currentUser.firstName}}</td>
		<td>{{currentUser.lastName}}</td>
		<td>{{currentUser.email}} </td>
		<td>{{currentUser.roles}}</td>
	</tr>
</table>
<hr>

Equipment Posted by {{currentUser.username}}:
{{currentUser.equipmentPosted}}
 
<br><br>

<hr>
<h2>Update Profile:</h2>

<form>
Username:<input    ng-model="currentUser.username"   class="form-control" placeholder="username"/><br>
Password:<input    ng-model="currentUser.password"   class="form-control" placeholder="password" type="password"/><br>
Email:<input        ng-model="currentUser.email"      class="form-control"  placeholder="email@server.com" type="email"/><br>
First Name:<input  ng-model="currentUser.firstName"  class="form-control" placeholder="first name"/><br>
Last Name:<input   ng-model="currentUser.lastName"   class="form-control" placeholder="last name"/><br>
<button ng-click="controller.update(currentUser)"    class="btn btn-primary btn-block">
	Update Profie
</button>
</form>

<hr>
