<h2>Post Equipment</h2>

{{page.label}}

<table class="table">
	<tr>
		<td>
			<input ng-model="model.page.label" class="form-control" placeholder="Page Name"/>
			<input ng-model="model.page.price" class="form-control" placeholder="Page Price"/>
			<input ng-model="model.page.category" class="form-control" placeholder="Page Category"/>
			<input ng-model="model.page.company" class="form-control" placeholder="Page Company"/>
        </td>
    </tr>

</table>

		<button ng-click="model.addPage(model.page)" class="btn btn-primary btn-block">List Equipment
		</button>	
<table class="table">
	<h2>View Availible Equipment</h2>
    <tr ng-repeat="page in model.pages">
        <td>
            <a href="#/page/{{page._id}}/details">
                {{page.label}}
            </a>
        </td>
        <td>&nbsp;</td>
    </tr>
</table>