<h2>Page List</h2>

{{page}}

<table class="table">
	<tr>
		<td>
			<input ng-model="model.page.label" class="form-control" placeholder="Page Name"/>
			<input ng-model="model.page.price" class="form-control" placeholder="Page Price" type="price"/>

<!-- <input  ng-model="user.username"  class="form-control" placeholder="username"/>
<input  ng-model="user.password"  class="form-control" placeholder="password"  type="password"/>
<input  ng-model="user.password2" class="form-control" placeholder="password2" type="password"/>
<input  ng-model="user.email"     class="form-control" placeholder="email"     type="email"/>
<input  ng-model="user.firstName" class="form-control" placeholder="firstName" type="firstName"/>
<input  ng-model="user.lastName" class="form-control" placeholder="lastName" type="lastName"/>	 -->		
			
			
			
			
			
			
			
        </td>
        <td>
            <button ng-click="model.addPage(model.page)" class="btn btn-success">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </td>
    </tr>
    <tr ng-repeat="page in model.pages">
        <td>
            <a href="#/page/{{page._id}}/details">
                {{page.label}}
            </a>
        </td>
        <td>&nbsp;</td>
    </tr>
</table>
