<h2>Equipment List</h2>

<table class="table">
    <tr>
        <td>
            <input ng-model="model.equipment.label" class="form-control" placeholder="Equipment Name"/>
        </td>
        <td>
            <button ng-click="model.addEquipment(model.equipment)" class="btn btn-success">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </td>
    </tr>
    <tr ng-repeat="equipment in model.equipments">
        <td>
            <a href="#/equipment/{{equipment._id}}/details">
                {{equipment.label}}
            </a>
        </td>
        <td>&nbsp;</td>
    </tr>
</table>
