<h1>Equipment</h1>

<!-- {{equipment}} -->

<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Start</th>
            <th>Price</th>
			 <th>Category</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="course in courses">
            <td>{{equipment.title}}</td>
            <td>{{equipment.start | date}}</td>
            <td>{{equipment.price}}</td>
			 <td>{{equipment.category}}</td>
            <td>
                <button ng-click="removeCourse($index)" class="btn btn-danger">
                    Remove
                </button>
                <a href="#/courseEdit/{{$index}}" class="btn btn-primary">Edit</a>
            </td>
        </tr>
    </tbody>
</table>
